<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
<title>{{ course.full_name }} Syllabus</title>
</head>

<body>
<h1>Syllabus</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for section in course.section_set.all %}
<h3>{{ section.title }}</h3>
<form action="/core/{{ section.pk }}/new_concepts/" method="post">
{% csrf_token %}
  {% for x in 123456789|make_list %}
    <b>Concept {{ x }}</b>: <input type="text" name="concept" id={{ x }} value="" />
  {% endfor %}
<input type="submit" value="Submit" />
</form>
{% endfor %}


<hr>
<address></address>
<!-- hhmts start -->Last modified: Sun Jul  8 07:01:12 EDT 2012 <!-- hhmts end -->
</body> </html>
