<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<title>{{ course.full_name }} Exam</title>
</head>
<h3>{{ course.full_name }} Exam</h3>
<p>This exam has {{ points }} points.</p>
{% for question in questions %}
{{ forloop.counter }}. [<b>{{ question.points }}</b>] {{ question.question }}
{% endfor %}
<body>
<h1></h1>



<hr>
<address></address>
<!-- hhmts start -->Last modified: Fri Jul  6 20:41:22 EDT 2012 <!-- hhmts end -->
</body> </html>
